
<!-- sreing interpolation -->
<h4>string interpolation</h4>
<p>A server with Id {{serverId}} and status is {{serverStatus}}</p>
<p>A server with Id {{serverId}} and status is {{serverMethod()}}</p>
<!-- sreing interpolation -->

<hr>
<!-- property Binding -->
<h4>Property binding :</h4>
<p>Enable button after 2 seconds</p>
 <button [disabled]="!allownewServer">property binding</button>
<!-- property Binding -->
 <hr>


<!-- Event Binding -->
<h4>Event Binding</h4>

<button (click)="oncreateServer()">Add Server</button>


<p>{{servercreatedStatus}}</p>

<!-- Passing & using data with event binding -->
<h4>Passing & using data with event binding</h4>
 <input type="text" placeholder="type here" (input)="onupdateServername($event)">
 <p>{{serverName}}</p>
<hr>
<!-- Event Binding -->


<!-- Two way Databinding -->
<h4>Two wa Data binding with  ngModel</h4>
  <input type="text" [(ngModel)]="twowayData">
  <p>{{twowayData}}</p>
<!-- Two way Databinding -->
<hr>


<!-- combining all forms of data binding -->
<h4>combining al forms of data binding</h4>
   <input type="text" [(ngModel)]="serverName" placeholder="enter server name">   <br><br>
   <button (click)="oncreateServer()"
   [disabled]="serverName == ''">
   Add server
  </button>
   <p>Result : {{servercreatedStatus}}</p>
<!-- combining all forms of data binding -->
<hr>
